---
---

<section id="contact-us" class="lets-connect-section relative">
  <div class="container-sm">
    <div data-aos="fade-up" class="text-center">
      <h1 class="text-green">
        Any messages for us or our partner <br /> farmers? We are listening.
      </h1>
    </div>
    <form id="myForm" class="row border-md p-md-5 p-2 gap-x-2 gap-y">
      <div class="d-flex gap-1 mt-2 flex-column col-md-6">
        <label for="name">Your Name:</label>
        <input class="input-style" type="text" id="name" name="name" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-2 flex-column col-md-6">
        <label for="phone">Phone Number:</label>
        <input class="input-style" type="tel" id="phone" name="phone" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-2 flex-column col-md-6">
        <label for="area">Area:</label>
        <input class="input-style" type="text" id="area" name="area" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-2 flex-column col-md-6">
        <label for="society">Society:</label>
        <input class="input-style" type="text" id="society" name="society" />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-2 flex-column col-md-6">
        <label for="pincode">Pincode:</label>
        <input
          class="input-style"
          type="text"
          id="pincode"
          name="pincode"
          pattern="[0-9]{6}"
        />
        <span class="error-message"></span>
      </div>

      <div class="d-flex gap-1 mt-2 flex-column">
        <label for="message">Your Message:</label>
        <textarea rows="5" class="input-style" id="message" name="message"
        ></textarea>
        <span class="error-message"></span>
      </div>

      <button class="mx-auto mt-3" type="submit">Send Email</button>
    </form>
  </div>
</section>

<script>
  import axios from "axios";
  const name = (document.getElementById("name") as HTMLInputElement).value;
  const phone = (document.getElementById("phone") as HTMLInputElement).value;
  const area = (document.getElementById("area") as HTMLInputElement).value;
  const society = (document.getElementById("society") as HTMLInputElement)
    .value;
  const pincode = (document.getElementById("pincode") as HTMLInputElement)
    .value;
  const message = (document.getElementById("message") as HTMLInputElement)
    .value;

  const apiKey = import.meta.env.SENDGRID_AP;
  const url = "https://api.sendgrid.com/v3/mail/send";
  let isValid = true;

  const data = {
    to: [{ email: "ved.blacksof@gmail.com" }], // Replace with recipient email address
    from: {
      email: "dev.blacksof@gmail.com", // Replace with your sender email address
    },
    // personalizations: [{}],
    subject: "Message from Your Website",
    text: "dfjdlfjlkfj",
    content: [
      {
        type: "text/plain",
        value: `Name: ${name}`,
        // \nPhone Number: ${phone}\nArea: ${area}\nSociety: ${society}\nPincode: ${pincode}\nMessage: ${message}
      },
    ],
  };

  // submit event
  document
    .getElementById("myForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();
      validate();
      try {
        const response = await axios.post(url, data, {
          headers: {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            mode: "no-cors",
            Authorization: `Bearer ${apiKey}`,
          },
        });

        console.log("Email sent successfully:", response);
      } catch (error) {
        console.error("Error sending email:", error);
      }
    });

  function validate() {
    const errorMessages = document.querySelectorAll(".error-message");
    errorMessages.forEach((message) => (message.textContent = ""));

    if (name.trim() === "") {
      document.getElementById("name").nextElementSibling.textContent =
        "Name is required";
      isValid = false;
    }
    if (area.trim() === "") {
      document.getElementById("area").nextElementSibling.textContent =
        "Area is required";
      isValid = false;
    }
    if (society.trim() === "") {
      document.getElementById("society").nextElementSibling.textContent =
        "Society is required";
      isValid = false;
    }

    if (!phone.match(/^\d+$/)) {
      document.getElementById("phone").nextElementSibling.textContent =
        "Invalid phone number";
      isValid = false;
    }

    if (!pincode.match(/^[0-9]{6}$/)) {
      document.getElementById("pincode").nextElementSibling.textContent =
        "Invalid pincode (must be 6 digits)";
      isValid = false;
    }

    if (message.trim() === "") {
      document.getElementById("message").nextElementSibling.textContent =
        "Message is required";
      isValid = false;
    }

    if (isValid) {
      console.log("Form is valid, send email using server-side script");
    } else {
      console.log("Please fix the errors before submitting the form.");
    }
  }
</script>

<style>
  .error-message {
    color: red;
    font-size: 14px;
  }
  .input-style:focus {
    outline: 1px solid gray;
  }
  .input-style {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 6px 8px;
  }
  button {
    padding: 10px 30px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    background: greenyellow;
  }
</style>
